* {
    margin: 0;
    font-family: sans-serif;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

a:visited {
    color: rgb(158, 0, 158);
}

a:hover {
    color: #e5e7eb;
    transition: all .3s;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #123456;
}

.header {
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    padding-top: 70px;
}

.logo img {
    display: flex;
    align-items: center;
    width: 150px;
    height: auto;
    border-radius: 40px;
}

.header-links {
    color: #e5e7eb;
    font-size: 2rem;
    display: flex;
    justify-content: space-between;
}

.navbar {
    padding: 0 270px;
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.left-container {
    display: flex;
    flex-shrink: 1;
    flex-direction: column;
    width: 434px;
    font-size: 18px;
    color: #e5e7eb;
}

.left-container h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    flex-shrink: 1;
}

.left-container p {
    font-weight: 200;
}

.right-container {
    flex-shrink: 1;
}

.header-img {
    width: 440px;
    height: 236px;
}

a {
    padding: 20px;
}

.content {
    height: 400px;
    display: flex;
    justify-content: center;
    gap: 40px;
    align-items: center;
}

button {
    background-color: #3882F6;
    width: 112px;
    margin: 10px auto 10px 0px;
    padding: 8px;
    border: #3882F6;
    border-radius: 5px;
    border-style: solid;
}

.info {
    background-color: rgb(135, 0, 0);
    display: flex;
    flex-direction: column;
    padding-top: 15px;
    padding-bottom: 65px;
}

.info h2 {
    display: flex;
    justify-content: center;
    margin: 23px 0;
    font-size: 36px;
    font-weight: bolder;
    color: #e5e7eb;
}

.images {

    display: flex;
    justify-content: center;
    gap: 50px;
}

.img {
    width: 350px;
    height: auto;
    border-radius: 50px;
}

.bronco {
    width: 450px;
}

.img-container {
    margin: 20px 0 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    flex-shrink: 1;
}

.text {
    margin-top: 10px;
    font-size: 14px;
    width: 100px;
    font-style: italic;
}

.quotes {
    display: flex;
    justify-content: center;
    align-self: center;
    flex-direction: column;
    width: 100%;
    background-image: url("./images/shelby-cobra.avif");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    background-color: black;
    color: #e5e7eb;
    text-shadow: black 2px 2px;
    font-weight: 600;
    font-size: 36px;
    padding: 40px 0;

}

#quote {
    display: flex;
    align-self: center;
    width: 815px;
    font-weight: lighter;
    font-style: italic;
    opacity: .9;
}

.author {
    align-self: flex-end;
    font-size: 24px;
    margin-right: 20%;
    font-weight: bold;
}

.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 80px auto;
    padding: 45px 0;
    width: 65%;
    background-color: #3882F6;
    color: #e5e7eb;
    border-radius: 10px;
    gap: 30%;
    flex-shrink: 1;
    font-size: 12px;
}

.contact-left h3 {
    font-size: 12px;
    font-weight: lighter;
    flex-shrink: 1;
}

.contact-right button {
    flex-shrink: 0;
    color: #e5e7eb;
    border: 2px solid #e5e7eb;
    border-radius: 5px;
    font-weight: 600;
}

.copyright {
    background-color: #1F2937;
    color: #e5e7eb;
    padding: 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}