* {
    margin: 0;
    font-family: sans-serif;
}

body {
    display: flex;
    flex-direction: column;
}

.header {
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    display: flex;
    align-items: center;
}

.header-links {
    color: white;
    display: flex;
    justify-content: space-between;
}

.navbar {
    padding: 0 130px;
    display: flex;
    justify-content: space-between;
}

.left-container {
    display: flex;
    flex-shrink: 1;
    flex-direction: column;
    width: 434px;
    font-size: 18px;
    color: #e5e7eb;
}

.left-container h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    flex-shrink: 1;
}

.right-container {
    flex-shrink: 1;
}

.header-img {
    width: 440px;
    height: 236px;
}

a {
    padding: 20px;
}

.content {
    height: 400px;
    display: flex;
    justify-content: center;
    gap: 40px;
    align-items: center;
}

button {
    background-color: #3882F6;
    width: 112px;
    margin: 10px auto 10px 0px;
    padding: 8px;
    border: #3882F6;
    border-radius: 5px;
    border-style: solid;
}

.info {
    display: flex;
    flex-direction: column;
}

.info h2 {
    display: flex;
    justify-content: center;
    margin: 23px 0;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.images {

    display: flex;
    justify-content: center;
    gap: 50px;
}

.img {
    width: 125px;
    height: auto;
}

.img-container {
    margin: 20px 0 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 200px;
    flex-shrink: 1;
}

.text {
    margin-top: 10px;
    font-size: 9px;
    width: 100px;
}